<div class="wrapper">
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="javascript:;">
            <i class="fa fa-dashboard"></i> <span>Jenkins</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="remote.Jenkins_information_management"><i class="fa fa-circle-o"></i>信息管理</a></li>
            <li><a ui-sref="remote.Jenkins_Information_convergence"><i class="fa fa-circle-o"></i>信息总汇</a></li>
            <li><a ui-sref="remote.Jenkins_JOB_rbac"><i class="fa fa-circle-o"></i>JOB权限分配</a></li>
            <li><a ui-sref="remote.Jenkins_my_JOB"><i class="fa fa-circle-o"></i>我的JOB</a></li>
          </ul>
        </li>
        <li><a ui-sref="#"><i class="fa fa-circle-o"></i>脚本编排</a></li>
        <li><a ui-sref="#"><i class="fa fa-circle-o"></i>任务编排</a></li>
          
      </ul>
    </section>
  </aside>

  <!-- 右侧vie层和footer -->
  <div class="content-wrapper"">
      <div ui-view class="view"></div>
      <footer class="main-footer">
          <div class="pull-right hidden-xs">
              <b>Version</b> 0.1.0
          </div>
          <div id="span_debug"></div>
          <strong>Copyright © 2016-2025 <a href="http://hy.10086.cn/">中移(杭州)信息技术有限公司</a>.</strong> All rights reserved.
      </footer>
  </div>
</div>