<div class="wrapper">
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <div style="height: 50px;"></div>
        <li class="treeview" ng-repeat="item in leftMenusTitles">
          <a href="javascript:;">
            <i class={{item.icon}}></i> <span ng-bind="item.name"></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ng-repeat="row in item.children">
              <a ui-sref="{{row.url}}"><i class={{row.icon}}></i>{{row.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!-- 右侧vie层和footer -->
  <div class="content-wrapper"">
      <div ui-view class="view"></div>
      <footer class="main-footer">
          <div class="pull-right hidden-xs">
              <b>Version</b> 0.1.0
          </div>
          <div id="span_debug"></div>
          <strong>Copyright © 2016-2025 <a href="http://hy.10086.cn/">中移(杭州)信息技术有限公司</a>.</strong> All rights reserved.
      </footer>
  </div>
</div>