<div class="content-wrapper" id="content">
    <section class="content-header">
        <h1>实例详情</h1>
        <ol class="breadcrumb pull-right">
            <li><a href="#">流程中心</a></li>
            <li><a href="#">流程管理</a></li>
            <li><a href="#">实例列表</a></li>
            <li class="active">实例详情</li>
        </ol>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box" id="internetApplication">
                        <div class="box-header">
                            <a href="" class="btn btn-primary pull-right ml20" ng-click="back()"><i class="fa fa-reply"></i>&nbsp;返回</a>
                        </div>
                        <div class="box-body">
                            <img src="../images/loading.gif" id="loadingImg" ng-hide="(bSwitch1==true)&&(bSwitch2==true)">
                            <div ng-show="(bSwitch1==true)&&(bSwitch2==true)">
                                <form class="form-horizontal">
                                    <div class="appliction_box" ng-repeat="item in data">
                                        <div class="row">
                                            <span class="col-sm-3">
                                                <label for="environment">环境</label>
                                                <select id="environment" class="plr10" ng-model="item.env" disabled>
                                                    <option value="0" ng-selected="item.env == 0">请选择</option>
                                                    <option value="1" ng-selected="item.env == 1">红山开发区</option>
                                                    <option value="2" ng-selected="item.env == 2">红山生产区</option>
                                                    <option value="2" ng-selected="item.env == 3">红山质测区</option>
                                                    <option value="4" ng-selected="item.env == 4">石桥开发区</option>
                                                    <option value="5" ng-selected="item.env == 5">石桥生产区</option>
                                                </select>
                                            </span>
                                            <span class="col-sm-4">
                                                <input type="text" name="inIp" placeholder="内网IP" class="ip w120" ng-model="item.in_ip" disabled>
                                                <input type="text" name="inIp_port" placeholder="端口" class="plr10 w70" ng-model="item.in_port" disabled maxlength="5">
                                                <input type="checkbox" name="inIp_port_anything" ng-model="item.no_in_port" disabled>端口不限
                                            </span>
                                            <span class="col-sm-5">
                                                <input type="text" name="outIp" placeholder="外网IP" class="plr10 w120" ng-model="item.out_ip" disabled>
                                                <input type="checkbox" name="outIp_port_auto" ng-model="item.no_out_ip" disabled>网工分配
                                                <input type="text" name="outIp_port" placeholder="端口" class="plr10 w70" ng-model="item.out_port" disabled maxlength="5">
                                                <input type="checkbox" name="outIp_port_anything" ng-model="item.no_out_port" disabled>端口不限
                                            </span>
                                        </div>
                                    </div>
                                </form>
                                <div class="result-box">
                                    <div class="result-box-header"></div>
                                    <div class="result-box-body">
                                         <table class="table table-hover table-bordered text-center">
                                            <thead>
                                                <th class="col-sm-2">审批人</th>
                                                <th>批注信息</th>
                                                <th>审批结果</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in resultContent" ng-show="resultContent.length != 0">
                                                    <td class="col-sm-2">{{ item.processorName }}</td>
                                                    <td class="col-sm-8">{{ item.message }}</td>
                                                    <td class="col-sm-2">{{ item.outcome }}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" ng-show="resultContent.length == 0" class="no_processedMessage">暂无审批信息</td>
                                                </tr>
                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>